$duration: 0.4s;
$transition-animation: transform $duration ease-in-out, opacity $duration ease-in-out;

.kartrider-collection-table-component {
  display: flex;
  flex-wrap: nowrap;
  border: solid 1px #808080;
  position: relative;
  overflow: hidden;
  height: 500px;
  width: 700px;

  .collection-container {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    position: absolute;
    min-width: 1400px;
    transform: translate(0%, 0);
  }

  .collection-list {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border: none;
    width: 50%;
    opacity: 1;
    transition: $transition-animation;

    &.hidden {
      transform: translate(-100%, 0);
    }

    .collection-list-header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: auto;
      height: 63px;
      border: 1px solid #ddd;

      .collection-checkbox {
        @extend .collection-checkbox;
      }

      .collection-header-title {
        display: inline-block;
        color: $color-blue;
      }
    }

    .collection-list-body {
      height: 100%;
      overflow-y: scroll;

      > div {
        height: 63px;
      }
    }
  }

  .detail-component {
    width: 50%;
    opacity: 0;
    transition: $transition-animation;

    &.show {
      opacity: 1;
      transform: translate(-100%, 0);
    }

    &.hidden {
      opacity: 0;
      transform: translate(0%, 0);
    }
  }
}