$color-blue: #0077ff;
$color-text: #1F334A;
$color-track-border: #9e9e9e;
$color-black: #000000;
$color-bd-selected: #FBC02D;
$color-transparent: #ffffff00;
$color-track-header: #1779E9;
$color-track-theme-border: #389EF4;
$color-track-background: #C4CED6;
$color-checkbox-border: #757575;
$color-popup-dim: #00000080;
$color-item-hover: #f2f2f2;
$color-track-selected: #64DD1757;
$color-switch-background-off: #ccc;
$color-switch-background-on: #2196F3;
