.kartrider-footer {
  display: flex;
  margin: 10px 0 0 0;
  padding-left: 5px;

  div {
    display: flex;
    align-items: center;
    text-align: left;
    color: $color-text;
    font-size: 14px;
    margin: 2px 20px 2px 0;
    cursor: pointer;

    img.github-mark {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }
}