$roulette-height: 30px;

.roulette-result-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin: 8px;

  .roulette-result {
    width: 600px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: $roulette-height;
    border: solid 1px black;
  }

  .roulette-container {
    position: absolute;
    width: 100%;

    div {
      height: $roulette-height;
    }
  }

  .roulette-util {
    display: flex;
    width: 600px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 12px 0px;

    .roulette-button {
      box-sizing: content-box;
      border: solid 1px $color-track-border;
      border-radius: 5px;
      background-color: white;
      margin: 0px 5px;
      color: $color-text;
      font-size: 14px;
      height: $roulette-height;
      width: 150px;
      outline: none;

      &.on {
        cursor: pointer;
      }

      &.off {
        opacity: 0.65;
      }
    }

    .roulette-animation-on-off {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0px;

      .description {
        display: inline-block;
        font-size: 14px;
        margin-right: 10px;
      }

      .roulette-animation-switch {
        display: inline-block;
        box-sizing: border-box;
        width: 60px;
        height: $roulette-height;
        background-color: $color-switch-background-off;
        padding: 3px;
        cursor: pointer;

        &.on {
          background-color: $color-switch-background-on;
        }

        .slider-container {
          width: 100%;
          height: 100%;
          position: relative;

          .slider {
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: white;
            transition: .4s;

            &.on {
              transform: translate3d(100%, 0, 0);
            }
          }
        }
      }
    }
  }
}