.kartrider-track-item-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // for debuggin border
  // border: solid 1px black;
  width: 200px;
  max-width: 200px;
  height: 150px;
  flex: 1 0 0%;

  .border {
    display: flex;
    width: 190px;
    box-sizing: border-box;
    border: solid 3px $color-transparent;
    border-radius: 5px;

    &:hover, &.selected {
      border: solid 3px $color-bd-selected;
      border-radius: 9px;
      cursor: pointer;
      opacity: 0.88;
    }
  }

  .track-image {
    display: inline-block;
    border: solid 1px $color-track-border;
    border-radius: 5px;
    background-color: white;
    // height: 130px;
    padding: 6px;
    width: 100%;

    img {
      display: block;
      width: 100%;
    }
  }

  .track-name {
    text-align: center;
    margin-top: 2px;
    font-size: 12px;
    // color: $color-black;
    color: $color-text;
    // opacity: 0.7;
  }
}