.kartrider-track-item-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // for debuggin border
  // border: solid 1px black;
  width: 200px;
  max-width: 200px;
  height: 150px;
  flex: 1 0 0%;

  .border {
    display: flex;
    position: relative;
    width: 190px;
    box-sizing: border-box;
    border: solid 3px $color-transparent;
    border-radius: 5px;

    &.selected {
      border: solid 3px $color-bd-selected;
      border-radius: 9px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-track-selected;
        z-index: 10;
      }
    }

    &:hover {
      border: solid 3px $color-bd-selected;
      border-radius: 9px;
      cursor: pointer;
      opacity: 0.88;
    }

    .track-difficulty {
      display: flex;
      align-items: center;
      position: absolute;
      margin: 9px 0px 0px 12px;
      padding: 2px;
      color: white;
      background-color: #00000044;
a
      .text {
        display: inline-block;
        font-size: 12px;
        margin-right: 5px;
      }

      .dot-container {
        display: flex;
      }

      .dot {
        background-color: white;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin: 0px 4px;

        &.on {
          background-color: red;
        }
      }
    }

    .special {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      font-weight: 600;
      letter-spacing: 0.05em;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;

      &.reverse {
        color: rgba(255, 0, 0, 0.705);
        font-size: 32px;
        transform-origin: 50% 50%;
        transform: rotate(-15deg);
      }

      &.crazy {
        color: #7fff4d;
        font-size: 38px;
        transform-origin: 60% 60%;
        transform: rotate(-30deg);
      }
    }
  }

  .track-image {
    display: inline-block;
    border: solid 1px $color-track-border;
    border-radius: 5px;
    background-color: white;
    // height: 130px;
    padding: 6px;
    width: 100%;

    img {
      display: block;
      width: 100%;
      pointer-events: none;
    }
  }

  .track-name {
    text-align: center;
    margin-bottom: 2px;
    font-size: 14px;
    // color: $color-black;
    color: $color-text;
    // opacity: 0.7;
  }
}

.kartrider-track-item-component.popup-component {
  .special {

    &.crazy {
      color: #7fff4d;
      font-size: 32px;
      transform-origin: 50% 50%;
      transform: rotate(-15deg);
    }
  }
}
