.kartrider-track-popup-header-component {
  .track-popup-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 5px 0px;
    background-image: linear-gradient(#276DC4,#1A7DEB,#276DC4);
    border-radius: 5px;
    margin-bottom: 3px;

    .track-popup-title {
      display: flex;
      justify-content: center;
      flex-grow: 1;

      input {
        height: 30px;
        border: solid 1px $color-track-border;
        border-radius: 5px;
        padding: 0px 3px;
        outline-color: black;
        outline-width: thick;
        font-size: 14px;
      }
    }



    .track-popup-close {
      display: inline-block;
      position: absolute;
      right: 0;
      border: none;
      outline: none;
      padding: 0;
      width: 25px;
      height: 25px;
      padding: 3px;
      margin-right: 5px;

      background-color: red;
      border-radius: 5px;
      border: solid 2px #500000d0;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      img {
        display: block;
        width: 100%;
        
      }
    }
  }

  .track-popup-theme {
    display: flex;
    margin-bottom: 3px;

    .track-theme-text {
      display: inline-block;
      width: 200px;
      text-align: center;
      border: solid 1px $color-track-theme-border;
      border-bottom: solid 1px white;
      border-radius: 3px 3px 0px 0px;
    }
  
    .track-theme-selector {
      display: flex;
      justify-content: flex-end;
      flex-grow: 1;
      border-bottom: solid 1px $color-track-theme-border;

      > div {
        margin-left: 20px;
      }

    }
  }
}